// Primary Colors === */
$violet:	#A6093D;
$white:		#FFFFFF;
$black:		#000000;

// Secondar Colors === */


// Fonts === */
// @mixin exo-light{font-family:"Exo",sans-serif;font-style:normal;font-weight:400;}
// @mixin exo-italic{font-family:"Exo",sans-serif;font-style:italic;font-weight:400;}
// @mixin exo-bold{font-family:"Exo",sans-serif;font-style:normal;font-weight:800;}
